/* Article modefull section */
.block-page-title-block {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.modefull {
  background-image: var(--background-modefull);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: cover;
  width: 100%;
  margin-bottom: 0rem;
  margin-top: 19%;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .modefull {
    margin-top: 6%;
  }
}
@media only screen and (min-width: 48em) {
  .modefull {
    margin-top: 5.7%;
  }
}

.modefull > div {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 4.375%;
}

@media only screen and (min-width: 76.25em) {
  .modefull > div {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1220px;
  }
}
@media only screen and (min-width: 64em) {
  .modefull > div {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5.125rem;
    padding-bottom: 5.125rem;
    max-width: 1244px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 48em) {
  .modefull > div {
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    padding-top: 3.625rem;
    padding-bottom: 3.625rem;
  }
}

.contet {
  position: relative;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: var(--background-color-intmarquue) 20px 20px 60px,
    var(--background-color) -20px -20px 60px;
}
@media only screen and (min-width: 48em) {
  .contet {
    display: flex;
    background: var(--background-color-header) url(../img/home/barA.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 11px;
  }
}

@media only screen and (min-width: 48em) {
  .host-picture {
    width: 50%;
    flex-shrink: 0;
    z-index: 1;
  }
}
@media only screen and (min-width: 48em) {
  .field-host-picture {
    height: 100%;
    max-height: 380px;
  }
}
@media only screen and (min-width: 48em) {
  .name-field-host-picture {
    height: 100%;
    max-height: 380px;
  }
}
.name-field-host-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 48em) {
  .name-field-host-picture img {
    border-top-right-radius: 0% 0%;
    border-bottom-right-radius: 50% 100%;
    height: 100%;
    max-height: 380px;
  }
}
.host-content-wrap:after {
  content: "";
  display: block;
  width: 100%;
  height: 11px;
  background: url(../img/home/bar.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.host-content-wrap {
  padding: 3.125rem;
  background-color: var(--background-color-header);
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .host-content-wrap {
    flex-grow: 1;
  }
}
.host-content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
marquee {
  background-color: var(--background-color-marquue);
  border: 1px;
  border-radius: 28px;
}

.center-monsefu {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
.center-monsefu {
  background-color: var(--background-color-intmarquue);
  border-radius: 18px;
  box-shadow: var(--background-color-intmarquue) 0px 2px 10px;
}
.center-monsefu a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.975em;
  font-weight: 400;
  line-height: 2.375em;
  letter-spacing: 0.3rem;
  padding: 0.3125rem 0.625rem;
  display: block;
}
.center-monsefu:hover * {
  background-color: var(--background-color-header);
  color: var(--color-intmarquue);
  border-radius: 18px;
}
.name-title {
  color: var(--color-paragraph);
  display: block;
  font-family: "Exo 2", sans-serif;
  font-size: 1.125em;
  line-height: 1.375em;
  font-weight: 500;
  text-transform: uppercase;
}
.host-adress:before {
  font-size: 1.4em;
  content: "📌";
  color: #666666;
  display: inline-block;
  position: relative;
  left: 0;
  top: -3px;
}
.host-adress {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--colo-text-secun);
  position: relative;
  padding-left: 2rem;
  margin-top: 1.5rem;
  display: inline-flex;
}
.field-label {
  text-indent: -9999px;
  overflow: hidden;
  width: 0px;
  padding: 0px;
  height: 0px;
}

.spectators-number:before {
  font-size: 1.4em;
  content: "🏟️";
  color: #666666;
  display: inline-block;
  position: relative;
  left: 0;
  top: -5px;
}
.spectators-number {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--colo-text-secun);
  position: relative;
  padding-left: 2rem;
  margin-top: 1.5rem;
  display: inline-flex;
}
.opening_time:before {
  font-size: 1.4em;
  content: "📬";
  color: #666666;
  display: inline-block;
  position: relative;
  left: 0;
  top: -3px;
}
.opening_time {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--colo-text-secun);
  position: relative;
  padding-left: 2rem;
  margin-top: 1.5rem;
  display: inline-flex;
  margin-bottom: 1.25rem;
}
.optime {
  display: inline-flex;
}
.field-labell {
  font-weight: normal;
}
.field-labell:after {
  content: ":";
  margin-right: 10px;
}
.btnmode {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.host-tickets {
  margin: 0;
  display: flexbox;
  width: 40%;
}
.host-tickets a:before {
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  margin-right: 10px;
}
.host-tickets a.link-tickets:before {
  content: "🖼️";
  font-size: 1.5625em;
  margin-right: 13px;
  text-shadow: 0px 3px 0px var(--color-text-shadow);
  vertical-align: sub;
}

.host-tickets a {
  color: #ffffff;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 0px var(--color-text-shadow);
  justify-content: center;
  align-items: center;
  max-width: 280px;
}
.host-tickets a.link-tickets {
  background-color: none;
  color: var(--color-logo-prim);
  border-radius: 28px;
  border: 1px solid var(--border-color-gallery);
  padding: 6% 8%;
  display: flex;
  cursor: pointer;
  margin: auto;
  transition: 0.1s;
  align-items: center;
}
.host-tickets a.link-tickets:hover {
  background-color: var(--color-logo-prim);
  color: #ffffff;
}
.host-tickets a.link-tickets:active {
  position: relative;
  top: 1px;
}
.host-map {
  margin: 0;
  display: flexbox;
  width: 40%;
}
.host-map a:before {
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  margin-right: 10px;
}
.host-map a.link-en-mapa:before {
  content: "🗺️";
  font-size: 1.5625em;
  margin-right: 13px;
  vertical-align: sub;
  text-shadow: 0px 4px 0px var(--color-text-shadow);
}
.host-map a {
  color: #ffffff;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 0px var(--color-text-shadow);
  justify-content: center;
  align-items: center;
  max-width: 280px;
}
.host-map a.link-en-mapa {
  line-height: 1.125em;
  background-color: none;
  color: var(--border-color-map);
  border-radius: 28px;
  padding: 6% 8%;
  border: 1px solid var(--border-color-map);
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.1s;
}
.host-map a.link-en-mapa:hover {
  background-color: var(--background-map);
  color: #ffffff;
}
.host-map a.link-en-mapa:active {
  position: relative;
  top: 1px;
}
/* End Article modefull section */

/* Article Descripcion section */
.sctGlob {
  width: 100%;
  background: var(--background-color);
  box-shadow: var(--background-color-intmarquue) 0px -2px 15px;
}
.artPrim {
  width: 100%;
  background: var(--background-color);
  color: var(--color-title);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  padding: 1%;
}
.sctPrim {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 10px 10px;
}

div.divLeft {
  float: left;
}
@media only screen and (max-width: 1061px) {
  div.divFloatRight {
    display: none;
  }
}
div.divFloatRight {
  padding: 20px;
  float: right;
  background-color: var(--background-color-secun);
  border-radius: 5px;
  box-shadow: 0px 1px 10px #7777772e;
}

div.bordBooton {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
div.divLeft div.divDos {
  padding-top: 25px;
  padding-bottom: 10px;
}

h2.titleDescription {
  color: var(--color-title);
  line-height: 22px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
section.sctGlob p {
  overflow: hidden;
  padding: 0 2%;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  color: var(--color-paragraph);
  margin-bottom: 18px;
}
div.divFloatRight div:first-child {
  color: var(--color-title);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 18px;
}
div.divFloatRight div ul {
  list-style: none;
}
div.divFloatRight div ul li span {
  margin-right: 8%;
  width: 24px;
  height: 24px;
}

div.divFloatRight div ul li {
  width: 80%;
  margin: auto;
  position: relative;
  font-size: 15px;
  min-height: 40px;
  line-height: 20px;
  color: var(--color-paragraph-secun);
  display: flex;
  align-items: center;
}
div.divFloatRight div ul li a {
  color: var(--color-logo-prim);
}
/* End Article descripcion section */

/* Nosotros section */
.divNostrs {
  margin: auto;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.divNostrs div:first-child h2.titleDescription {
  text-align: right;
  margin-top: auto;
  display: flex;
  padding-bottom: 0;
}
.divNostrs div:last-child p {
  padding-top: 0;
  text-align: left;
  width: 85%;
  margin-left: auto;
  border-left: 1px solid #e0e0e0;
}
div.divLeft .divNostrs div:last-child {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .divNostrs div:last-child p {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
}
/* End Nosotros section */

/* Gallery section */
.imgGallery {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}
.imgGallery img {
  width: 100%;
  cursor: pointer;
  transition: 1s;
  box-shadow: 0px 6px 13px #aaa9a9;
  border-radius: 5px;
}
.imgGallery img:hover {
  transform: scale(1.2);
}

.full-Img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: +1;
}
.full-Img div.imagenful {
  width: 90%;
  max-width: 640px;
  cursor: zoom-in;
  position: fixed;
}
.full-Img img {
  width: 100%;
}
div.imagenful span.zoon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.full-Img span.close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.full-Img span.fondoImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

/* End Gallery section */

/* Events section */
.imgEvento {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 25px;
}
.imgEvento div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgEvento div .divIvent {
  width: 80%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 6px 13px #aaa9a9;
}
.imgEvento div .divIvento {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 6px 13px #777777;
}
div.capa {
  flex-direction: column;
  position: absolute;
  padding: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #021f36c6;
  text-align: center;
  justify-content: center;
  z-index: +1;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}
div.divIvent:hover .capa {
  opacity: 1;
}
div.divIvento:hover .capa {
  opacity: 1;
}

div.capa a {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(248, 249, 250);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  margin: 1%;
}
div.capa a:hover {
  color: #00adff;
}

div.capa h2 {
  font-family: "Exo 2", sans-serif;
  color: #73de1a;
  font-weight: 600;
  font-size: 20px;
  margin: 6%;
}
.imgEvento img {
  width: 100%;
  border-radius: 5px;
}
/* End Events section */

/* Servicios section */
.divCarat {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 0px;
}
.divCarat div {
  display: flex;
}
.divCarat div .divIvento {
  width: 95%;
  margin-left: auto;
  height: auto;
  flex-direction: column;
  position: relative;
}

div.divLeft div.grup1 div.divDos div.divCarat {
  padding: 0;
}
.divCarat .divIvento h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-title);
  letter-spacing: 0.5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* End servicios section */

/* Preguntas section */

div.caracte .divFloatRig {
  padding: 20px;
  background-color: var(--background-color-secun);
  border-radius: 5px;
  display: none;
  margin: auto;
  box-shadow: 0px 1px 10px #7777772e;
}

div.divFloatRig div:first-child {
  color: var(--color-title);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 18px;
}
div.divFloatRig div ul {
  list-style: none;
}
div.divFloatRig div ul li span {
  margin-right: 8%;
  width: 24px;
  height: 24px;
}

div.divFloatRig div ul li {
  width: 80%;
  margin: auto;
  position: relative;
  font-size: 15px;
  min-height: 40px;
  line-height: 20px;
  color: var(--color-paragraph-secun);
  display: flex;
  align-items: center;
}
/* @media only screen and (max-width: 1061px) {
  .grup1 div.divCarat {
    display: none;
  }
} */
.color-header {
  background-color: var(--background-color-header);
}
@media only screen and (max-width: 1061px) {
  div.caracte .divFloatRig {
    display: block;
  }
}

/* End preguntas section */

/* barImagen section */
.conteimgmf {
  background-image: url(../img/home/divImg.jpg);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -1px 10px #00adff;
  width: 100%;
  height: 155px;
  margin-top: 2%;
  margin-bottom: 0rem;
  overflow: hidden;
}
/* End barImagen section */

/* contacto section */
.formulari {
  width: 100%;
  margin: auto;
  background-color: var(--background-color-header);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 10px 50px 10px var(--color-contac-shadow);
  border-radius: 10px;
}
div.formulari form {
  margin: 7% auto;
}
div.formulari label {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}
div.formulari input,
select {
  padding: 5%;
  margin: auto;
  margin-top: 6%;
  font-size: 16px;
  letter-spacing: 1px;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 0px 0px 8px #7777773c;
  background-color: var(--background-focus);
  color: var(--color-title);
  border-radius: 5px;
}
div.formulari input,
select,
textarea:focus {
  outline-color: var(--background-focus);
}

div.formulari form textarea {
  padding: 5%;
  margin: auto;
  margin-top: 6%;
  font-size: 16px;
  letter-spacing: 1px;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  max-height: 250px;
  box-shadow: 0px 0px 8px #7777773c;
  border-radius: 5px;
  background-color: var(--background-focus);
  color: var(--color-title);
}
.grupBtn {
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
div.formulari form button {
  margin: auto;
  padding: 5% 15%;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px #7777773c;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}
div.formulari form .butRset {
  background-color: var(--background-btnreset);
}
div.formulari form .butEnvi {
  background-color: var(--background-btnsubmit);
}
div.formulari form .butRset:hover {
  background-color: var(--background-btnreset-after);
  cursor: pointer;
}
div.formulari form .butEnvi:hover {
  background-color: var(--background-btnsubmit-after);
  cursor: pointer;
}
.color-contacto {
  background-color: var(--background-color-contacto);
}
/* End contacto section */
.footerbr {
  background-image: var(--gradient-footerbr);
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.footerbr img {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* footer section */
.pie-pagina {
  width: 100%;
  background-color: #0099ff;
  margin-top: 0;
  padding-top: 0;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 30px 0px 100px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 90%;
}
.pie-pagina .grupo-1 .box h2 {
  color: var(--background-color);
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.pie-pagina .grupo-1 .box p {
  color: var(--background-color);
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0099ff;
  text-align: center;
  transition: all 300ms ease;
  transition: 0.5s;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
  transform: scale(1.4);
}
.pie-pagina .grupo-2 {
  background-color: var(--color-logo-prim);
  padding: 15px 10px;
  text-align: center;
  color: var(--background-color);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}
.pie-pagina .grupo-2 small {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/* End footer section */

/* floatWhatsapp section */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(12, 12, 12);
  z-index: 98;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: var(--background-color-header);
  transition: 0.4s;
  transform: scale(1.2);
}

img.whaspp {
  fill: #fffbfc;
  width: 45%;
}
.whaspp:hover {
  fill: #25d366;
  transition: 0.8s;
  transform: scale(1.2);
}
/* End floatWhatsapp section */
strong.valoresH3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.conteValores {
  margin-left: auto;
}
